---
import ArrowDown from './ArrowDown.astro';
import ArrowUp from './ArrowUp.astro';
import Incrase from './Incrase.astro';

export interface Props {
	name: string;
	dollar: string | number;
	created_at: number;
	increase: number
}

const { name, dollar, created_at, increase} = Astro.props;

const dollarFixed = Number(dollar).toFixed(2)
---

<article class="bg-slate-600  rounded-lg p-8 min-w-[290px] flex flex-col gap-2 py-4 text-slate-200">
	<strong class="text-right text-slate-300">{name === 'BCV'? name : `@${name}`}</strong>
	<div class="flex flex-row gap-4 justify-center items-center">
		<h2 class="text-5xl text-slate-200 text-">{dollarFixed} <strong class="text-base">Bs.</strong></h2>
		<Incrase increase={increase} />	
		</div>
	<p class="text-center text-xs">{new Date(created_at).toLocaleString()}</p>
</article>

